<ion-header>
  <ion-navbar>
    <ion-title>{{sport.name}} History</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="grey-background">

	<!-- <ion-list margin-top>
    <button ion-item *ngFor="let activity of activitiesPage.content" (click)="loadActivityHistory(activity)">
      {{ activity.startDate.toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'long', day: 'numeric' }) }} at {{ activity.startDate.toLocaleTimeString('en-US') }}
    </button>
	</ion-list> -->

	<ion-card *ngFor="let activity of activities">
		<!-- <img src="{{ activity.imageUrl }}" /> -->
		<img [attr.src]="activity.imageUrl" >

		<ion-item>
			<img src="/assets/imgs/icon-{{ activity.sport }}.png" height="32" style="width: 32px" item-start />
			<div margin-left>
				<h2>{{ activity.startDate.toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'long', day: 'numeric' }) }}</h2>
				<p>{{ activity.startDate.toLocaleTimeString('en-US') }}</p>
			</div>
		</ion-item>

		<ion-item>
			<span font-bold item-left>18 min</span>
			<span item-left>(2.6 mi)</span>
			<button ion-button icon-left clear item-end (click)="loadActivityHistory(activity)">
				<ion-icon name="eye"></ion-icon>
				View
			</button>
		</ion-item>
	</ion-card>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content>
			
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<div id="map_hidden" style="height:200px; display:hidden"></div>

	<!-- <ion-card *ngFor="let activity of activitiesList">
		<ion-item>
			<ion-img src="assets/imgs/icon-{{ sport.code }}.png" width="32" height="32"></ion-img>
			<h2>Museum of Football</h2>
			<p>{{ activity.startDate }}</p>
		</ion-item>

		<ion-item>
			<span item-left>18 min</span>
			<span item-left>(2.6 mi)</span>
			<button ion-button icon-left clear item-end>
				<ion-icon name="eye"></ion-icon>
				Details
			</button>
		</ion-item>
  </ion-card> -->

</ion-content>
