page-home {
	ion-content {
		background-image: url('../../assets/imgs/home-bg.jpg');
		background-size: cover;
		background-origin: right;
	}

	ion-content h1 {
		color: white;
		font-weight: bold;
	}
}