page-login {
	ion-content {
	  background-image: url('../../assets/imgs/home-bg.jpg');
	  background-size: cover;
	  background-origin: right;
	}
  .register-btn {
    //color: grey;
  }

  .v-center {
  	height: 100%;
  	margin-top:25%;
  	//display: flex !important;
  	//align-items: center !important;
  	//justify-content: center !important;
  }

  h1 {
  	font-size:40px;
  }
}
